nav a:hover{
    color: darkgoldenrod;
}

body{
    color: bisque;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
img{
    margin-top: 30px;
    width: 150px;
    height: 152px;
    border-radius: 100%;
    border: 5px solid darkgoldenrod;
}
h1{
    color: darkgoldenrod;
}
table{
    margin-bottom: 20px;
}

footer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid darkgoldenrod;
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
    margin: 20px;
    text-align: center;
}
footer p{
    margin-top: 5px;
}
footer p:hover{
    color: darkgoldenrod;
}

.center{
    text-align: center;
}
.container{
    padding: 0px 50px;
}
